# Virtual environment
.venv/

Ai enginerring/
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

.txt

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Anaconda
.anaconda/
anaconda_projects/